<!-- This imports the base.html for the naviagation bar-->
{% extends 'base.html' %}


<!-- This is our html that is custom for this specific page-->
{% block body %}
    <h1>Find a Pantry</h1>

    <!-- form to be replaced with django form once model is implemented -->
    <form method="get">
      <br>
      {% csrf_token %}
      {% for field in form %}

      <div class = "form-group row">
        <label for = "id_{{ field.name }}" class = "col-2 col-form-label"> Zip Code </label>
        <div class = "col-2">
          {{ field }}
        </div>

      </div>

      {% endfor %}

      <button class="btn btn-primary" type="submit">Search</button>
    </form>
<br>


<div class="container" style = "float: left;">
  {#% for Pantry in listedPantries %#}
  {% for Pantry in order %}
  <div class="row justify-content-start" >
    <div class="col"  style = "background-color: lightgrey;"> 
      <table>
        <tr>
          <td>{{ Pantry.1 }}</td> <!--Name-->
        </tr>
        <tr>
          <td>{{ Pantry.3}}, {{ Pantry.5 }}, {{ Pantry.6}} {{Pantry.4}}</td>   <!--streetAdd1, city, state, zipCode -->
         </tr>
          <tr>
            <td>{{ Pantry.0 }} Miles</td><!--Distance-->
        </tr>
        <tr>
          <td>
            {{ Pantry.7}}<!--Phone_number-->
          </td>
        </tr>
        <tr>
          <td>
            {{ Pantry.8}}<!--Website-->
          </td>
        </tr>
        <tr>
          <td>
            {{ Pantry.9}}<!--description-->
          </td>
        </tr>
        <tr>
            <td>Needs:</td>
            {% for need in Pantry.10 %} <!--Need Object-->
              <tr><td style="color:red;">
              {{need}}
              <td/></tr>
            {% endfor %}
        </tr>
        <tr>
          <td>
            {% for hour in Pantry.11 %} <!--Hours Object-->
              {{hour}}
            {% endfor %}
          </td>
        </tr>
      </table>
      <a class="btn btn-outline-primary my-2 my-sm-0" href = "#">Sign Up For Notifications</a>

    </div>
  </div>
  <br>
  {% endfor %}
</div>



{% endblock %}
