<!-- This imports the base.html for the naviagation bar-->
{% extends 'base.html' %}


<!-- This is our html that is custom for this specific page-->
{% block body %}
    <h1>Find a Pantry</h1>

    <!-- form to be replaced with django form once model is implemented -->
    <form method="get">
      <br>
      {% csrf_token %}
      {% for field in form %}

      <div class = "form-group row">
        <label for = "id_{{ field.name }}" class = "col-2 col-form-label" style="margin-left: 2em;"> Zip Code: </label>


      <div class = "col-2" style="margin-left: -5em;">
          {{ field }}
        </div>

      </div>

      {% endfor %}
        <button class="buttonStyle" class="buttonStyle" style="padding: 5px 10px 5px 10px; margin-left: 2em;"type="submit">Search</button>
    </form>
<br>


<div class="container" style = "float: left;">
  {#% for Pantry in listedPantries %#}
  {% for Pantry in order %}
  <div class="row justify-content-start" >
    <div class="col"  style = "background-color: lightgrey;"> 
      <table>
        <tr>
          <td>{{ Pantry.1 }}</td> <!--Name-->
        </tr>
        <tr>
          <td>{{ Pantry.3}}, {{ Pantry.5 }}, {{ Pantry.6}} {{Pantry.2}}</td>   <!--streetAdd1, city, state, zipCode -->
         </tr>
          <tr>
            <td>Apprx. {{ Pantry.0 }} Miles</td><!--Distance-->
        </tr>
        <tr>
          <td>
            {{ Pantry.7}}<!--Phone_number-->
          </td>
        </tr>
        <tr>
          <td>
            {{ Pantry.8}}<!--Website-->
          </td>
        </tr>
        <tr>
          <td>
            {{ Pantry.9}}<!--description-->
          </td>
        </tr>
        <tr>
            <td>Needs:</td>
            {% for need in Pantry.10 %} <!--Need Object-->
              <tr><td style="color:red;">
              {{need}}
              <td/></tr>
            {% endfor %}
        </tr>
        <tr>
          <td>
            {% for hour in Pantry.11 %} <!--Hours Object-->
              {{hour}}
            {% endfor %}
          </td>
        </tr>
      </table>
      <a href=  "{% url 'sign_up_form' %}" class="btn btn-outline-primary my-2 my-sm-0" onMouseOver="this.style.color='white'; this.style.backgroundColor='#000F5D'" onMouseOut="this.style.color='#000F5D'; this.style.backgroundColor=''"style="color: #000F5D; border-color: #000F5D;" href="#">Sign Up For Notifications</a>
      <a href=  "{% url 'pantry_inventory' Pantry.12 %}" class="btn btn-outline-primary my-2 my-sm-0" onMouseOver="this.style.color='white'; this.style.backgroundColor='#000F5D'" onMouseOut="this.style.color='#000F5D'; this.style.backgroundColor=''"style="color: #000F5D; border-color: #000F5D;" href="#">View Inventory</a>
    </div>
  </div>
  <br>
  {% endfor %}
</div>



{% endblock %}
