<!-- This imports the base.html for the naviagation bar-->
{% extends 'base.html' %}


<!-- This is our html that is custom for this specific page-->
{% block body %}
    <h1>Inventory</h1><br><br>
    
    <h4>{{pantry.name}} Inventory</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Amount</th>
            </tr>
        </thead>
    
    <tbody>
    
        {% for item in pantry.food_set.all %}
    
        <tr>
            <td> {{item.Name}} </td>
            <td> {{item.Status}} </td>
            <td> {{item.Amount}} </td>
        </tr>
    
        {% endfor %}
    
    </tbody>
    
    </table>

{% endblock %}
