<!-- This imports the base.html for the naviagation bar-->
{% extends 'base.html' %}


<!-- This is our html that is custom for this specific page-->

{% block body %}
    <h1>Inventory</h1>
    <br>
    <h3>Send Mail</h3>

    <div class = "container">

    <form method="POST">
      <br>
      {% csrf_token %}

      {% for field in form %}

      <div class = "form-group row">
        <label for = "id_{{ field.name }}" class = "col-2 col-form-label"> {{ field.label }} </label>
        
        <div class = "col-10">
          
          {{ field }}
        </div>

      </div>

      {% endfor %}


      <button type = "submit" class ="buttonStyle" style="padding: 5px 10px 5px 10px;"name = "button"> Send Mail </button>
    
    </form>

  </div>

{% endblock %}
